.empty-component {
    text-align: center;
    margin-top: 4rem;
    width: 100%;
  
    h5 {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #81868c;
      margin-left: auto;
      margin-right: auto;
      width: 30em;
      font-family: "Inter";
    }
}
.container {
    padding: 4rem;
    background-color: ghostwhite;
    height: 100vh;
}